.removeBtn{
    background-color: lightcoral;
    color:white;
    width: 3em;
    height: 1em;
    margin: 1em;
    padding: .2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.removeBtn:hover{
    background-color:red;
}

#taskList{
    list-style: none;
    width: auto;
}

#taskList li {
    background-color: gray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#taskList li span:first-child{
    width: 90%;
}

#taskList li:nth-child(2n){
    background-color: lightgray;
}